@import url('https://fonts.googleapis.com/css2?family=Dai+Banna+SIL:wght@600&family=Open+Sans&family=Roboto:wght@300&display=swap');

.roboto {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #5bc0be;
}

a {
    text-decoration: none;
}

/* NAVBAR/HEADER */
.logo {
    width: 80px;
}

header {
    background-color: #399390;
    border-bottom: 1px black solid;
}

.headerH1 {
    font-family: 'Dai Banna SIL', serif;
    font-size: 2.4em;
}

header .nav-link {
    color: black;
    background-color: #c2e1e0;
    font-family: 'Roboto', sans-serif;
}

header .nav-link:hover {
    background-color: #a3bebd;
}

header .nav-item {
    border: 1px black solid;
}


/**********************INDEX*****************************/


/* CARROUSEL */

.carrouselSombra {
box-shadow: 0px 0px 25px 6px rgba(0,0,0,0.64);
-webkit-box-shadow: 0px 0px 25px 6px rgba(0,0,0,0.64);
-moz-box-shadow: 0px 0px 25px 6px rgba(0,0,0,0.64);
}

.flechasCarrousel {
    color: black;
}

.flechasCarrouselDos {
    color: white;
}
.carousel{
    padding: 0;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

/* MAIN */
.imgIndexUno {
    border-radius: 1.5rem;
}

.parrafoUno {
    background-color: #89D1D0;
    border-radius: 1.5rem;
}

/* SECTION */

.sectionIndex {
    border: 1px black solid;
    background-color: #D2D2F6;
}

.sectionIndex a {
    font-size: 0.9em;
    display: block;
    margin-bottom: 1rem;
}


/**********************SOBRE NOSOTROS*********************/

.mainSN {
    margin-bottom: 5rem;
}

    .mainSN h2 {
        font-size: 3em;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .mainSN p {
        font-size: 1.3em;
        padding-left: 3rem;
        padding-right: 3rem;
    }

/**********************CONTACTO***************************/
.mainContacto {
    margin-bottom: 4.3rem;
}

.formContacto {
    background-color: #89D1D0;
}

.sectionContacto {
    background-color: #89D1D0;
    border: 1px black solid;
}

.sectionContacto a {
    font-size: 0.9em;
    display: block;
    margin-bottom: 1rem;
}

.boton {
    background-color: #34b2fa;
    border: 1px black solid;
}
    .boton:hover {
        background-color: #31a5e8;
        border: 1px black solid;
    }


    
/*******************UBICACION**************************/
.ubicacionMainDivUno {
    font-family: 'Open Sans', sans-serif;
}

.ubicacionMainDivUno h2{
    font-size: 3em;
    font-weight: 600;
}

.ubicacionMainDivUno p {
    font-size: 1.12em;
}



/* FOOTER */

footer {
    background-color: #241818;
}

footer a {
    color: lightgreen !important;
}
footer a:hover {
    color: rgb(127, 212, 127) !important;
}

footer p {
    color: white;
}

